div.search_prasanga {
    background-color: green; 
    font-size: large; 
}

div.search_elem {
    margin: 10px;
    border: 10px;  
    padding: 10px; 
}

h1 { font-family: Andale Mono, AndaleMono, monospace; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } 
h3 { font-family: Andale Mono, AndaleMono, monospace; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } 