/*  
    need to make topbar stick to the screen 
    need to balance font size  
*/

* {
    margin: 0px;
    padding: 0px; 
}

body {
    min-height: 100vh;
    min-width: 100vw;
}

div.navbar {
    border-bottom: 1px; 
    border-top: 0px; 
    border-left: 0px; 
    border-right: 0px; 
    border-color: grey; 
    border-style: solid; 
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #52734D; 
    color: white;   

    position: sticky;
    top: 0px; 
}

div.title {
    font-size: 40px;
    margin-left: 5px; 
}

div.search-bar-button {
    display: flex; 
    flex-direction: row;
    align-items: center; 
    padding: 5px;
    margin-bottom: 5px;
    background-color: #91C788; 
    border-radius: 10px;
}

div.xbutton {
    border: grey; 
    display: none;
}

div.xbutton:hover {
    cursor: pointer; 
    color: black; 
}

div.search-bar-button input {
    color: black; 
    background-color: #91C788;
    border: none; 
    outline: 0px;
    font-size: 16px;
}

div.search-bar-button input:focus {
    color: black; 
    background-color: #91C788;
    border: none; 
}

@media only screen and (min-width: 500px) {
    div.navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    div.xbutton {
        display: block;
    }

    div.search-bar-button {
        margin-left: 10px; 
    }
} 

svg {
    display: block;
    color: grey; 
    border: 1px;
    border-style: solid;
    border-radius: 3px;
}

div.search_elem {
    margin: 10px;
    padding: 10px; 
    /* width: 50%;  */
    border: 1px grey;
    border-style: solid; 
    border-radius: 10px;
    background-color: #FEFFDE;
    /* height: 20px;  */
}

div.search_prasanga {
    font-size: 16px; 
    font-weight: bold;
    overflow: hidden; 
    text-overflow: ellipsis;
}

div.search_elem:hover {
    box-shadow: 2px 2px 5px grey; /* offset-x, offset-y, blur-radius, spread-radius, color  */ 
}